*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F6F6F6;
}

/* GENERAL */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
    width: 100vw;
    color: #3b3838;
}

/* TYPO */
h1 {
    font-size: 2rem;
    padding-top: 8px;
    text-align: center;
    color: #F6F6F6;
}

li {
    list-style: none;
}

/* HEADER */

header {
    position: relative;
    height: 56px;
    width: 100%;
    margin-bottom: 24px;
    background-color: #0078AA;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
}

header svg {
    position: absolute;
    top: 8px;
    left: 8px;
    height: 40px;
    width: 40px;
    fill: #F6F6F6;
}

/* FORMULAIRE */

.formulaire {
    position: relative;
    display: flex;
    width: 90%;
    max-width: 800px;
    align-items: center;
}

.formulaire__input {
    width: 100%;
    padding: 20px 30px;
    font-size: 1.5rem;
    border-radius: 50px;
    border: none;
    transition: 0.2S;
    box-shadow: inset 0 0 5px black;
}

.formulaire__input:focus {
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5 );
}

.formulaire__btn {
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    margin: 12px;
    border: none;
    border-radius: 50px;
    font-size: 40px;
    background-color: #0078AA;
    color: #fff;
    transition: all 0.3s;
    box-shadow: 0 0 3px black;
}

.formulaire__btn:hover {
    scale: 1.1;
}
.formulaire__btn:active {
    scale: 0.8;
    box-shadow: 1px 0 1px black; 
}

/* TODOS LIST */
.container-todos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin-top: 8px;
}


.todos-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 47.5%;
    min-width: 300px;
    min-height: 144px;
    margin: 16px 4px;
    padding-bottom: 16px;
    border-radius: 8px;
    background-color: #0078AA;
}

.todos-list.remove {
    background-color: #3AB4F2;
}

.todos-list__title {
    color: #fff;
    padding: 8px 0;
}

.todos-single {
    display: flex;
    width: 95%;
    margin: 16px 0 0;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    color: #3b3838;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.4 );
    transition: all 0.2s; 
    cursor: pointer;
}
.todos-single:hover {
    scale: 1.02;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.2 );
}


.todo-single__text {
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px; 
}
.todo-single__text:focus{
    outline: none;
}

.todo-single__input {
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
}

.todo-single__icons__icon {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
}
/* RESPONSIVE */ 

@media screen and (max-width: 690px){
    h1 {
        font-size: 1.5rem;
        padding-top: 12px;
    }

    .formulaire__input {
        font-size: 1.2em;
    }

    .todos-list {
        width: 90%;
    }

    .todo-single{
        width: 100%;
    }
}